<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}

<head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        Cart list
      {% endblock %}
    </title>
</head>

<body>
    {% block content %}
    <h1>Your Items</h1>
    <hr class="mt-0 mb-4">
    <div class="cart_list_header">
        <div class="row">
            <div class="col-2">
                <h3>Image</h3>
            </div>

            <div class="col-2">
                <h3>Name</h3>
            </div>

            <div class="col-lg-2">
                <h3>Quantity</h3>
            </div>

            <div class="col-lg-3">
                <h3>Price</h3>
            </div>
        </div>
   </div>

    <div class="cart_list">
      {% for cart_item in user.cart.all %}
            <div class="row">

               <div class="col-2">
                   <img src="{{cart_item.item.picture.url}}">
               </div>

                <div class="col-2">
                     <p>{{cart_item.item.title}}</p>
                </div>

                <div class="col-lg-2" >
                     <p>{{cart_item.quantity}}</p>
                </div>

                <div class="col-lg-3">
                     <p>{{cart_item.quantity|mul:cart_item.item.price}}</p>
                </div>

                <div class="col">
                    <p><a href="{{cart_item.get_cart_delete_url}}">Delete</a></p>
                </div>
            </div>
          {% endfor %}
      </div>
      <p>Total Price: {{total}}</p>
      <h1>Send your order </h1>
      <form method="post" action="//">{% csrf_token %}
          {{form.as_p}}
          <button class="btn btn-primary" type="submit" value="send">Send</button>
      </form>
    {% endblock %}

</body>
</html>