<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
           Shoes
        {% endblock %}
    </title>
</head>

<body>

      {% block content %}
          <h1>Jewellery</h1>
          <hr class="mt-0 mb-4">
          {% for item in object_list %}
                {% if item.category == "J" %}
                     <div class="product_list">
                          <img src="{{item.picture.url}}">
                          <h4>{{item.get_category_display}}</h4>
                          <h3>{{item.title}}</h3>
                          <a href="{{item.get_absolute_url}}">Read More</a>
                     </div>
                {% endif %}
          {% endfor %}
     {% endblock%}

</body>
</html>