<!DOCTYPE html>

<html lang="en">

{% load static %}



{% include 'Nav_bar.html' %}
<head>
    <meta charset="UTF-8">
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" scope="text/css">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>

<body class="body">
    {% block content %}
    {% endblock %}
</body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<footer class="footer">

       <div>
            <h1>Quick Links:</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact/">Contact</a></li>
                {% if not user.is_authenticated %}
                  <li><a href="/login/">Login</a></li>
                {% endif %}
            </ul>
        </div>

       <div>
            <h1>Categories</h1>
            <ul>
                <li><a href="/shirts/">Shirts</a></li>
                <li><a href="/shoes/">Shoes</a></li>
                <li><a href="/watches/">Watches</a></li>
                <li><a href="/jewellery/">Jewellery</a></li>
            </ul>
        </div>

        <div>
            <h1>Sign up or Logout:</h1>
            <ul>
                {% if not user.is_authenticated %}
                  <li><a href="/signup/">Sign up</a></li>
                {% else %}
                   <li><a href="/logout/">Logout</a></li>
                {% endif %}
            </ul>
        </div>
</footer>

</html>